/Logs
/*.exe

/debug
/PTG_ACC_Extention
/PTG_SM_Extention
/PTG_HRM_Extention
/Confs/*.yaml
/PTG_HRM_Sheet_extension
/PTG_Common
/HRM_edu_extension
/PTG_BPMN
/PTG_HRM_WorkTime
/.vscode/launch.json
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
